<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Recipe Form</title>
<!-- Latest compiled and minified CSS -->
<link th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}"
	rel="stylesheet">
<!-- Latest compiled and minified JavaScript -->
<script th:src="@{/webjars/bootstrap/5.0.0/js/bootstrap.min.js}"></script>
</head>
<body>
	<!--/*@thymesVar id="recipe" type="merlobranco.springframework.domain.Recipe"*/-->
	<div class="container py-4">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form th:object="${recipe}" th:action="@{/recipe/}" method="post">
					<input type="hidden" th:field="*{id}" />
					<div class="card border-info mb-3" style="width: 100%;">
						<div class="card-header bg-info text-white">
							<h1 class="card-title">Edit Recipe Information</h1>
						</div>
						<div class="card-body">
							<div class="row mb-3">
								<div class="input-group">
									<span class="input-group-text">Recipe
										Description:</span>
									<input type="text" class="form-control" aria-describedby="basic-addon1" th:field="*{description}"/>
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-md-3">
									<label>Categories:</label>
								</div>
								<div class="col-md-9">
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value=""
											id="cat1"> <label class="form-check-label" for="cat1">
											Cat 1 </label>
									</div>
									<div class="form-check" th:remove="all">
										<input class="form-check-input" type="checkbox" value=""
											id="cat2"> <label class="form-check-label" for="cat2">
											Cat 2 </label>
									</div>
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-md-3">
									<label>Prep Time:</label> <input type="text"
										class="form-control" th:field="*{prepTime}" />
								</div>
								<div class="col-md-3">
									<label>Cooktime:</label> <input type="text"
										class="form-control" th:field="*{cookTime}" />
								</div>
								<div class="col-md-3">
									<label>Difficulty:</label> <select class="form-select">
										<option>Easy</option>
										<option>Medium</option>
										<option>Hard</option>
									</select>
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-md-3">
									<label>Servings:</label> <input type="text"
										class="form-control" th:field="*{servings}" />
								</div>
								<div class="col-md-3">
									<label>Source:</label> <input type="text" class="form-control"
										th:field="*{source}" />
								</div>
								<div class="col-md-3">
									<label>URL:</label> <input type="text" class="form-control"
										th:field="*{url}" />
								</div>
							</div>
						</div>
					</div>
					<div class="card border-info mb-3" style="width: 100%;">
						<div class="card-header bg-info text-white">
							<div class="row">
								<div class="col-md-10">
									<h1 class="card-title">Ingredients</h1>
								</div>
								<div class="col-md-2 mt-2">
									<a th:if="${recipe.id != null}" class="btn btn-light" href="#" th:href="@{'/recipe/' + ${recipe.id} + '/ingredients'}" role="button">View</a>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<ul>
										<li th:remove="all">1 Cup of milk</li>
										<li th:remove="all">1 Teaspoon of chocolate</li>
										<li th:each="ingredient : ${recipe.ingredients}"
											th:text="${(ingredient.getAmount() +
		                                        ' ' + ingredient.uom.getDescription() +
		                                        ' - ' + ingredient.getDescription())}">1
											Teaspoon of Sugar</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="card border-info mb-3" style="width: 100%;">
						<div class="card-header bg-info text-white">
							<h1 class="card-title">Directions</h1>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<textarea class="form-control" rows="3"
										th:field="*{directions}"></textarea>
								</div>
							</div>
						</div>
					</div>
					<div class="card border-info mb-3" style="width: 100%;">
						<div class="card-header bg-info text-white">
							<h1 class="card-title">Notes</h1>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<textarea class="form-control" rows="3"
										th:field="*{notes.recipeNotes}"></textarea>
								</div>
							</div>
						</div>
					</div>
					<button type="submit" class="btn btn-info">Submit</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>